extends layout.pug

block content
  main.page-content
    include partials/categories.pug
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each item in offers
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src='img/' + item.picture srcset='img/#{item.picture} 2x' alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{item.type}
                  .ticket-card__categories
                    a(href='#') #{item.category}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{item.title}
                    p.ticket-card__price
                      span.js-sum #{item.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{item.description}
